:root {
  --bg: #f2f2f2;
  --text: #1c213c;
  --primary: #0070c0;
  --table-header: #1c213c;
  --card-bg: white;
  --shadow: rgba(0, 51, 102, 0.25);
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f0f0f0;
  --primary: #00aaff;
  --table-header: #333;
  --card-bg: #1e1e1e;
  --shadow: rgba(0, 0, 0, 0.5);
}

svg {
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  color: var(--text);
}

form input[type="text"],
form input[type="number"],
form label,
form button {
  border-color: var(--text);
  background-color: var(--bg);
  color: var(--text);
}

form input[type="text"]:focus,
form input[type="number"]:focus {
  border-color: var(--primary);
}

form button {
  background-color: var(--primary);
}

thead {
  background-color: var(--table-header);
}

table {
  background: var(--card-bg);
  box-shadow: 0 6px 18px var(--shadow);
}

#results {
  background-color: var(--table-header);
  color: var(--text);
}

.autocomplete-list {
  background-color: var(--card-bg);
  color: var(--text);
}